*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: rgba(3, 32, 25, 0.912);
    font-family: Georgia, 'Times New Roman', Times, serif; 
    margin: 50px;
}

.pokemon {
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}


.card {
    
    height: 300px;
    width: 310px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.421);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.289);
    transition: transform 0.5s ease;
    cursor: pointer;
    padding: 10px;
}

h1{
    text-align: center;
    font-weight: 800;
    color: #083a2e;
    font-size: 1.1rem; 
    margin-bottom: 12px;
}

img{
    display: block;
    margin: 0 auto;
    width: 50%;
    height: auto;
    border-radius: 8px;
    
}


.card:hover{
    transform: scale(1.05);
    box-shadow:  0 4px 8px #107b6a;
    cursor: pointer;
}

.type{
    display: flex;
    justify-content: center;
    height: 100px;
    
    align-items: center;
    font-weight: 800;
    color: #000;
    font-size: .9rem; 
}

.type-name{
    background: #83de7b;
    padding: 4px;
    border-radius: 5px;
    margin-bottom: 40px;
}

.numero{
    display: flex;
    justify-content: center;
    color: #0a5d4f;
    font-size: 15px;
    margin-bottom: 10px;
}


.button-container{
    position: relative;
    height: 40px;
}

.load-btn{
    position: absolute; 
    bottom: 0; 
    left: 46%; 
    padding: 12px;
    font-size: 15px;
    cursor: pointer;
    border: none;
    background: #de4141;
    color: #fff;
    border-radius: 4px;
    font-weight: 500;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.289);
    transition: transform 0.3s ease;
}

.load-btn:hover{
    transform: scale(1.05); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.289); 
}

.search{
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 200px;
    margin: 0 auto;
}

.search input{
    margin: 10px;
    padding: 10px 50px; 
    border: 1px solid #ccc;
    border-radius: 4px; 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.073); 

}

.search input:focus{
    outline: none; 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.289); 

}


.search img{
    height: auto;
    margin-left: 8px; 
}

.hidden {
    display: none;
}

.logo{
    width: 25%;
    margin-bottom: 30px;
}

