*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: rgba(246, 189, 32, 0.737);
    font-family: Georgia, 'Times New Roman', Times, serif; 
    margin: 50px;
}

.pokemon {
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr)); /* Adjusted column width */
    gap: 20px;
    justify-content: center;
}


.card {
    height: 300px;
    width: 100%; /* Adjusted width */
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.421);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.289);
    transition: transform 0.3s ease;
    cursor: pointer;
    padding: 10px;
}

h1{
    display: flex;
    justify-content: center;
    font-weight: 800;
    color: #7d460a;
    font-size: 1.1rem; 
}

img{
    display: block;
    margin: 0 auto;
    width: 40%;
    height: auto;
    border-radius: 8px;
    
}


.card:hover{
    transform: scale(1.05);
    box-shadow:  0 4px 8px #9C5100;
    cursor: pointer;
}

.type{
    display: flex;
    justify-content: center;
    height: 260px;
    
    align-items: center;
    font-weight: 800;
    color: #000;
    font-size: .9rem; 
}

.type-name{
    background: rgba(246, 189, 32, 0.737);
    padding: 4px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.numero{
    display: flex;
    justify-content: center;
    color: rgb(129, 107, 41);
    font-size: 15px;
    margin-bottom: 10px;
}

.button-container{
    position: relative;
    height: 40px;
}

button{
    position: absolute; 
    bottom: 0; 
    left: 50%; 
    padding: 12px;
    font-size: 15px;
    cursor: pointer;
    border: none;
    background: #9C5100;
    color: #fff;
    border-radius: 4px;
    font-weight: 500;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.289);
    transition: transform 0.3s ease;
}

button:hover{
    transform: scale(1.05); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.289); 
}

.search{
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 200px;
    margin: 0 auto;
}

.search input{
    margin: 10px;
    padding: 10px 50px; 
    border: 1px solid #ccc;
    border-radius: 4px; 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.073); 

}

.search input:focus{
    outline: none; 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.289); 

}


.search img{
    height: auto;
    margin-left: 8px; 
}

.hidden {
    display: none;
}
